<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!currentUser || !login; else tripList">
    <ion-card class="welcome-card">
      <div *ngIf="loginPage; else register">
          <form [formGroup]="formLogin">
            <ion-grid>
              <div class="form-group input-field">
                <ion-row>
                  <label for="nome">Email</label>
                </ion-row>
                <ion-row>
                  <input type="text" class="form-control row" name="email" id="email" formControlName="email">                    
                  </ion-row>
                </div>
      
                <div class="form-group input-field">
                    <ion-row>
                        <label for="nome">Senha</label>
                    </ion-row>
                    <ion-row>
                        <input type="text" class="form-control" name="password" id="password" formControlName="password">
                    </ion-row>
                  </div>
            
                  <ion-row>
                    <button ion-button block type="submit" (click)="onSubmitLogin()">Login</button>
                  </ion-row>
                  <ion-row class="center">
                    <p>Ainda não é cadastrado?</p>
                  </ion-row>
                  <ion-row>
                    <button ion-button block type="submit" (click)="registerButton()">Ir para Cadastro</button>
                  </ion-row>
            </ion-grid>
              
        </form>
      </div>
        <ng-template #register>
          <form [formGroup]="formRegister">
            <ion-grid>

              <div class="form-group input-field">
                <ion-row>
                  <label for="nome">Nome</label>
                </ion-row>
                <ion-row>
                  <input type="text" class="form-control" name="name" id="name" formControlName="name">
                </ion-row>
              </div>
        
              <div class="form-group input-field">
                  <ion-row>
                    <label for="nome">Email</label>
                  </ion-row>
                  <ion-row>
                    <input type="text" class="form-control" name="email" id="email" formControlName="email">
                  </ion-row>
                </div>
        
                <div class="form-group input-field">
                    <ion-row>
                      <label for="nome">Senha</label>
                    </ion-row>
                    <ion-row>
                      <input type="text" class="form-control" name="password" id="password" formControlName="password">
                    </ion-row>
                  </div>
            
                  <ion-row>
                    <button ion-button block type="submit" (click)="onSubmit()">Salvar</button>
                  </ion-row>
                  <ion-row class="center">
                      <p>Já possui cadastro?</p>
                    </ion-row>
                  <ion-row>
                    <button ion-button block type="submit" (click)="registerButton()">Ir para Login</button>
                  </ion-row>
            
            </ion-grid>
          </form>
  
        </ng-template>
      </ion-card>
  </div>
  <ng-template #tripList>
    
  </ng-template>
</ion-content>
